<style>
.icon-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  max-width: 800px;
  margin: auto;
}

.icon-box {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 30px 20px;
  background: #d4e2d4;
  border-radius: 5px;
}

.box-text {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}

.key-feature-h2 {
  font-size: 25px;
  margin-bottom: 1rem;
  text-align: center;
}
</style>

<h2 class="key-feature-h2"><strong>{{ section.settings.heading }}</strong></h2>

<div class="icon-boxes">
  {% for block in section.blocks %}
    <div class="icon-box">
      {% if block.settings.icon_image != blank %}
        <img src="{{ block.settings.icon_image | image_url: width: 80 }}" alt="Feature Icon" style="width: 40px; height: 40px; object-fit: cover; border-radius: 8px;">
      {% endif %}
      <div class="box-text">{{ block.settings.box_text }}</div>
    </div>
  {% endfor %}
</div>



{% schema %}
{
  "name": "Key Features Boxes",
  "tag": "section",
  "class": "icon-boxes-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Key Features:"
    }
  ],
  "blocks": [
    {
      "type": "feature_box",
      "name": "Feature Box",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "Icon Image"
        },
        {
          "type": "text",
          "id": "box_text",
          "label": "Box Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Key Features Boxes"
    }
  ]
}
{% endschema %}